[client]
port=3306
default-character-set = utf8mb4

[mysqld]
port=3306
character-set-server = utf8mb4
skip-name-resolve
lower_case_table_names = 1
default-storage-engine = InnoDB

# =========================================================
# KONFIGURASI REPLIKASI - MASTER (SUMBER DATA UTAMA)
# Semua operasi WRITE (INSERT/UPDATE/DELETE) diarahkan ke sini.
# =========================================================
server-id = 1
log-bin = mysql-bin
binlog_format = ROW
binlog_do_db = minimarket_terdistribusi
gtid_mode = ON
enforce-gtid-consistency = ON
expire_logs_days = 7
sync_binlog = 1

log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 1

max_connections = 500
max_allowed_packet = 256M
