[client]
port=3306
default-character-set = utf8mb4

[mysqld]
port=3306
character-set-server = utf8mb4
skip-name-resolve
lower_case_table_names = 1
default-storage-engine = InnoDB

# =========================================================
# KONFIGURASI REPLIKASI - REPLICA (SALINAN BACA / READ-ONLY)
# Semua operasi READ (SELECT) diarahkan ke sini oleh Laravel.
# =========================================================
server-id = 2
relay-log = mysql-relay-bin
log-bin = mysql-bin
binlog_format = ROW
gtid_mode = ON
enforce-gtid-consistency = ON
read_only = ON
super_read_only = ON
log_slave_updates = ON

log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 1

max_connections = 500
max_allowed_packet = 256M
